<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <script>const isAdmin = false;</script>
    <script src="script.js" defer></script>
    <title>Dojo Zoom Attendance Visualizer</title>
</head>

<body class="bg-dark text-light">
    <div class="container">
        <header class="card-header d-flex justify-content-between align-items-center">
            <h1>Coding Dojo <span class="reverse1 purple">&#9664</span>  Zoom Attendance Visualizer</h1>
            <a href="/logout" class="btn btn-close-white">Logout</a>
        </header>

        <select class="form-control-sm mt-2"  id="meetingsList"></select>
        <button class="btn-sm btn-outline-primary" onclick="getMeeting()">Get Occurrances</button>

        <select class="form-control-sm mt-2" id="occurrencesList"></select>
        <button class="btn-sm btn-outline-primary" onclick="getAttendance()">Get Attendance</button>
        <label for="eveningChecked">Evening?</label>
        <input type="checkbox" id ='eveningChecked'>
        

        
        <div id="timeline-form" class="card d-flex flex-row justify-content-around mb-2 p-2 mt-2">
            <div class="form-group d-flex flex-column">
                <label class=" form-label" for="first-period-start">Algo Start</label>
                <input class="form-control-sm" type="time" name="first-period-start" id="first-period-start" min="06:00" max="18:00" value="09:00" >
            </div>
            <div class="form-group d-flex flex-column">
                <label class=" form-label" for="first-period-end">Algo End</label>
                <input class="form-control-sm" type="time" name="first-period-end" id="first-period-end" value="09:45">
            </div>
            <div class="form-group d-flex flex-column">
                <label class=" form-label" for="second-period-start">Lecture Start</label>
                <input class="form-control-sm" type="time" name="second-period-start" id="second-period-start" value="10:00">
            </div>
            <div class="form-group d-flex flex-column">
                <label class=" form-label" for="second-period-end">Lecture End</label>
                <input class="form-control-sm" type="time" name="second-period-end" id="second-period-end" value="10:45">                
            </div>
        
            <div class="form-group d-flex flex-column">
                <label class=" form-label" for="third-period-start">Afternoon Start</label>
                <input class="form-control-sm" type="time" name="third-period-start" id="third-period-start" value="14:00">
            </div>
            <div class="form-group d-flex flex-column">
                <label class=" form-label" for="second-period-start">Lecture End</label>
                <input class="form-control-sm" type="time" name="third-period-end" id="third-period-end" value="14:45">
            </div>
            <div class="form-group d-flex flex-column">
                <label class=" form-label" >update</label>
                <button class="form-control-sm" id="update-button" >Update</button>
            </div>
        </div>
        <div id="stud-data" class="card text-dark p-1">
            <table id="attend-table" class="table">
                <thead>
                    <tr class="sticky-top bg-primary text-light">
                        <th class="col-1" scope="col">#</th>
                        <th class="col-2" scope="col">Name</th>
                        <th id="" class="col-8" scope="col">
                            <div class="d-flex justify-content-between">
                                <p class="label" id="l0">6am</p>
                                <p class="label" id="l1" >7am</p>
                                <p class="label" id="l2">8am</p>
                                <p class="label" id="l3">9am</p>
                                <p class="label" id="l4">10am</p>
                                <p class="label" id="l5">11am</p>
                                <p class="label" id="l6">12pm</p>
                                <p class="label" id="l7">1pm</p>
                                <p class="label" id="l8">2pm</p>
                                <p class="label" id="l9">3pm</p>
                                <p class="label" id="l10">4pm</p>
                                <p class="label" id="l11">5pm</p>
                                <p class="label" id="l12">6pm</p>
                            </div>
                        </th>
                        <th class="col-1" scope="col">TT in Zoom</th>
                    </tr>
                </thead>
                <tbody id="table-body">
                </tbody>
            </table>
        </div>
    </div>
    
</body>

</html>