*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;

}

body{
    padding: 50px;
}

.container{
    background-color: #121212;
    padding: 20px;
}

header{
    background-color: #121212;
    color: #e6e6e6;
    border-bottom: .5px solid grey!important;
}

.reverse1{
    display: inline-block;
    transform: scale(.5) rotate(180deg);

}
.purple{
    color: #7591d4;
}

#timeline-form{
    color: #e6e6e6;
    background-color: #303030;

}

.timeline-container{
    position: relative;
    margin-top: 10px;
    width: 100%;
    height: 50px;
    border: 1px solid black;
    background-color: #e6e6e6;
}
.timeline-legend{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 100%;
}

.time-select{
    width: 10%;
}

.label{
    margin-bottom: 0px;
}

th{
    border-right: 1px solid black;
    border-left: 1px solid black;
}

#time-legend{
    position: relative;
}

#attend-table{
    position: relative;
    color: #e6e6e6;
    
}

#stud-data{
    background-color: #303030;
}

#timebox {
    position: relative;
    margin: 0 0;
    padding: 1em;
    box-sizing: border-box;
    background-color: whitesmoke;
    color: #303030;
    border-radius: 15px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}


#timebox::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: -.5em;
    bottom: -1em;
    left: 40%;
    box-sizing: border-box;
    border: .05em solid #000;
    border-color: transparent transparent whitesmoke whitesmoke;
    background-color: whitesmoke;
    transform-origin: 0 0;
    transform: rotate(-45deg);
    box-shadow: -3px 3px 4px 0 rgba(0,0,0,.08);
}

#timebox > p {
    padding: 0px;
    margin: 0px;
}